name: Run Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write
  repository-projects: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run Tests
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Run Tests
        env:
          KEY: ${{ secrets.KEY }}
        run: |
          dotnet test -c Debug \
            --logger "trx;LogFileName=test_results.trx" \
            --logger "console;verbosity=detailed"
